.App {
  font-family: sans-serif;
  text-align: center;
}

.Header {
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

.WholeClock {
  transform: rotate(-90deg);
  border: solid 3px darkblue;
  width: 250px;
  height: 250px;
  position: relative;
  left: 80px;
  top: 50px;
}

.HourArrow {
  border: solid 2px black;
  width: 35%;
  position: absolute;
  left: 125px;
  top: 125px;
  transform-origin: bottom left;
}

.MinuteArrow {
  border: solid 1px rebeccapurple;
  width: 50%;
  position: absolute;
  left: 125px;
  top: 125px;
  transform-origin: bottom left;
}

.SecondsArrow {
  border: solid 1px red;
  width: 75%;
  position: absolute;
  left: 125px;
  top: 125px;
  transform-origin: bottom left;
}
